body{
  background-color: rgb(72, 72, 246);
  color: white;
  font-family: "Poppins",sans-serif;
  min-height: 100vh;
}
header{
  font-size:1.5rem;
}
header,form{
  min-height:20vh;
  display:flex;
  justify-content:center;
  align-items: center;
  gap: 5px;
}
.todo,.addbtn{
  padding:15px;
  padding-left: 10px;
  border:none;
  border-radius: 10px;
}
.addbtn{
  color:red;
  cursor: pointer;
  background-color: white;
  margin-left:3px;
}
.addbtn:hover{
  color: white;
  background-color: red;
}
.fa-plus-circle{
  margin-top: 5px;
  margin-left:3px;
}
.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list{
  min-width:30%;
  list-style: none;
}
.todo{
  
}