ul {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #d72727;
    font-size: 18px;
    transition: 0.2s;
    }
    ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
      }    